<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="preload" as="script" href="/0.bundle.js" crossorigin>
    <link rel="preload" as="script" href="/1.bundle.js" crossorigin>
</head>
<body>
    <div id="app"></div>
     <script src="/vendor.bundle.js"></script>
    <script src="/main.bundle.js" async></script>
</body>
</html>
